<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- Log to file -->
    <target name="logfile" 
			xsi:type="File" 
			fileName="logs.txt"
			deleteOldFileOnStartup="true"
			layout="`${level:uppercase=true}|${logger}|${callsite}|${callsite-linenumber}|${message}${onexception:EXCEPTION OCCURRED\:${exception:format=tostring}}`"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile" />
  </rules>
</nlog>